<section id="benefits" class="py-10 bg-slate-900 text-white">
  <div
    appScrollReveal
    class="max-w-7xl mx-auto px-6 grid md:grid-cols-4 gap-8 text-center divide-y md:divide-y-0 md:divide-x divide-slate-800"
  >
    @for (stat of stats; track stat; let first = $first) {
      <div [class.pt-0]="first" class="pt-8 md:pt-0">
        <div class="flex flex-col items-center justify-center h-full">
          <!-- Visual CSS element -->
          <div class="w-12 h-1 mb-6 bg-eco-green rounded-full"></div>
          <h4 class="text-4xl md:text-6xl font-extrabold text-white mb-3 tracking-tighter">
            {{ stat.value }}
          </h4>
          <p class="text-lg text-slate-400 font-medium uppercase tracking-widest">
            {{ stat.label }}
          </p>
        </div>
      </div>
    }
  </div>
</section>
